@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.text {
    text-align: center;
    font-size: 60px;
}

.create {
    font-size: 40px;
    text-align: left;
    margin-top: 30px;
    padding-left: 0px;
}

.main-container {
    height: 100vh;
    width: 100vw;
}

.inputelement {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.adding {
    margin-top: 10px;
}

.tasks {
    margin-top: 50px;
}

.todo_item_list {
    padding: 10px;
}

.label_container {
    width: 100%;
    background-color: #e6f6ff;
    border-radius: 4px;
    padding: 20px;
    margin-left: 4px;
    border-left: 5px solid #096f92;


}

.delete_icon {
    width: 100%;
    text-align: right;
}

.checked {
    text-decoration: line-through;
}
